<!-- Navbar -->
<header class="header text-center">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navigation-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" *ngIf="innerWidth < 1000"><img src="assets/images/logo.png" alt=""
                        style="height: 200%; padding-bottom: 1rem;"></div>
                <div class="navbar-brand" *ngIf="innerWidth >= 1000"><img src="assets/images/logo.png" alt=""
                        style="height: 100%; position: absolute; top: 0; left: 10%"></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="section-scroll" href="#canyoning-title">Canyoning</a></li>
                    <li><a href="#nevidio-title">Nevidio</a></li>
                    <li><a href="#krapina-title">Drenostica</a></li>
                    <li><a href="#medjurijec-title">Medjurijec</a></li>
                    <li><a href="#skurda-title">Skurda</a></li>
                    <li><a href="#team-title">Team</a></li>
                    <li><a href="#booking-title">Booking</a></li>
                    <li>
                        <img (click)="mne();" src="assets/images/montenegro.png" class="lang-img" style="margin: 1rem">
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!-- End Navbar -->
<main id="main-text-home" class="container">
    <!--<div class="title-section big-title-sec  " data-animation="fadeInUp" data-delay="0">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="big-title">Some information about us</h2>
            <h1 class="big-subtitle">We’re small branding &amp; digital studio</h1>
            <hr>
            <p class="about-text">Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis. Vestibulum magna turpis, tincidun blandit semper lorem. Mauris nodesterin feugiat neque, a aliquet ligula. Sed non felis tincidunt, facilisis felis vitae, mollis est. Nulla sapien dui, feugiat sed velit a, egestas porta magna.</p>
          </div>
        </div> 
    </div> <!-- end title-section -->
    <!-- Screenshots
    ================================================== -->

    <div class="row   mt-5r" data-animation="fadeInUp" data-delay="0">
        <div class="col-sm-12 text-center">
            <div class="title-section" id="canyoning-title" style="padding-bottom: 40px;">
                <h1>Canyoning</h1>
                <hr>
            </div>
            Canyoning is an exciting and adventurous activity that involves exploring
            canyons by hiking, rappelling, swimming, and sometimes even jumping. It's a thrilling experience that can
            take
            you to some of the most stunning natural wonders in the world, but it's not without risks. <br> <br>
            That's why it's important to always have experienced guides on your canyoning trips. Canyoning guides are
            trained professionals who have extensive knowledge of the canyons, the local environment, and the necessary
            safety techniques. They know how to navigate the terrain, identify potential hazards, and respond to
            emergencies
            should they arise. <br><br>
            Having an experienced guide by your side can make all the difference in ensuring that your canyoning
            adventure
            is both safe and enjoyable. They can provide you with the necessary equipment, teach you proper techniques
            for
            rappelling and swimming, and guide you through the canyon's twists and turns.
        </div>
    </div>
    <section>
        <div id="screenshots-section" class="mt-5r">
            <div class="text-center">
                <div class="title-section text-center  " data-animation="fadeInUp" data-delay="0">
                    <div class="row">
                        <div class="col-sm-12" id="nevidio-title">
                            <h2>Nevidio</h2>
                            <div class="row">
                                <div class="img-below-text col-sm-4">
                                    <img src="assets/images/icons/time.png" alt="sometext" />
                                    <p>4h</p>
                                </div>
                                <div class="img-below-text col-sm-4">
                                    <img src="assets/images/icons/group.png" alt="sometext" />
                                    <p>3+</p>
                                </div>
                                <div class="img-below-text col-sm-4">
                                    <img src="assets/images/icons/price.png" alt="sometext" />
                                    <p>90€ (100€ with lunch)</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div> <!-- End row -->
                </div> <!-- end title-section -->
                <div class="row  " data-animation="fadeInUp" data-delay="0">
                    <div class="col-sm-12" style="padding-bottom: 20px">
                        Welcome to Nevidio Canyon, a hidden gem in Montenegro that's waiting to be explored! Tucked away
                        in the
                        heart
                        of the Durmitor National Park, this rugged canyon is a must-visit destination for adventure
                        seekers and
                        nature
                        lovers alike. <br><br>
                        Nevidio Canyon is one of the last remaining canyons in Europe that's largely unexplored and
                        untouched by
                        humans. It's a breathtaking natural wonder that features steep cliffs, cascading waterfalls,
                        crystal-clear
                        pools, and narrow gorges that are just waiting to be traversed.
                        One of the best ways to experience Nevidio Canyon is by going on a canyoning tour. This
                        thrilling activity
                        involves hiking, swimming, abseiling, and rock climbing through the canyon, guided by
                        experienced
                        professionals who will ensure your safety at all times. <br><br>
                        On your canyoning tour, you'll get to explore the hidden corners of Nevidio Canyon, discovering
                        its many
                        natural wonders along the way. You'll be able to swim in emerald pools, slide down natural water
                        slides,
                        jump
                        off cliffs into deep pools of water, and abseil down sheer drops – all while surrounded by the
                        stunning
                        beauty
                        of the canyon. <br><br>
                        No previous experience is required to go on a canyoning tour in Nevidio Canyon, but you should
                        be in good
                        physical shape and be comfortable in the water. The tours are suitable for anyone aged 8 and
                        above, and
                        all
                        necessary equipment is provided. <br><br>
                        If you're looking for an unforgettable adventure in Montenegro, be sure to add a canyoning tour
                        in Nevidio
                        Canyon to your itinerary. It's an experience you won't forget!
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="screenshots-carousel  " data-animation="fadeInUp" data-delay="0">

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-1.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-1.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-2.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-2.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-3.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-3.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-4.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-3.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->


                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-5.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-5.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-6.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-6.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-7.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-7.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-8.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-8.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-9.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-9.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-10.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-10.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-11.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-11.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-12.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-12.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->


                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-13.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-13.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-14.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-14.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-15.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-15.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                            <div class="shot">
                                <div class="screen">
                                    <a class="zoom" href="assets/images/screenshots/nevidio-16.jpg"><img
                                            src="assets/images/screenshots/1-nevidio-16.jpg" alt="screenshot"></a>
                                </div> <!-- end screen -->
                            </div> <!-- end shot -->

                        </div> <!-- end screenshots-carousel -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
                <div class="text-center mt-5r">
                    <div class="title-section text-center  " data-animation="fadeInUp" data-delay="0">
                        <div class="row  " data-animation="fadeInUp" data-delay="0">
                            <div class="col-sm-12" id="krapina-title">
                                <h2>Drenostica</h2>
                                <div class="row">
                                    <div class="img-below-text col-sm-4">
                                        <img src="assets/images/icons/time.png" alt="sometext" />
                                        <p>2h</p>
                                    </div>
                                    <div class="img-below-text col-sm-4">
                                        <img src="assets/images/icons/group.png" alt="sometext" />
                                        <p>3+</p>
                                    </div>
                                    <div class="img-below-text col-sm-4">
                                        <img src="assets/images/icons/price.png" alt="sometext" />
                                        <p>80€ (90€ with lunch)</p>
                                    </div>
                                </div>

                                <hr>
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- end title-section -->
                    <div class="row">
                        <div class="col-sm-12" style="padding-bottom: 20px">
                            Krapina is located just a short drive from Budva, but it feels like a world away from the
                            hustle and
                            bustle of the city. The village is surrounded by rolling hills, olive groves, and vineyards,
                            and it's
                            the perfect place to unwind and escape the crowds. <br><br>
                            One of the must-visit attractions in Krapina is the Drenostica canyon, popular destination
                            for canyoning
                            enthusiasts, offering an exciting opportunity to explore the rugged terrain of Montenegro.
                            Your
                            canyoning tour will take you through a maze of narrow passages, steep cliffs, and rocky
                            terrain, all
                            while surrounded by breathtaking natural scenery. <br><br>
                            As you make your way through Drenostica Canyon, you'll have the chance to rappel down
                            waterfalls, swim
                            in refreshing pools, and jump into deep water. This thrilling adventure is a must-do for
                            anyone seeking
                            an adrenaline rush and an unforgettable experience in Montenegro.
                            In addition to canyoning, Drenostica Canyon is also a popular destination for hikers and
                            nature lovers.
                            The surrounding hills offer stunning views of the canyon and the surrounding countryside,
                            making it an
                            ideal place to explore on foot. <br><br>
                            After your canyoning adventure, you can relax and unwind in the charming village of Krapina,
                            where
                            you'll find traditional Montenegrin hospitality and delicious local cuisine. Be sure to try
                            some of the
                            local specialties, such as freshly-caught fish, grilled meat, and homemade rakija (a
                            traditional fruit
                            brandy). <br><br>
                            Whether you're a thrill-seeker or a nature lover, Drenostica Canyon and the village of
                            Krapina have
                            something for everyone. Come and explore this hidden gem in Montenegro and create memories
                            that will
                            last a lifetime!

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="screenshots-carousel  " data-animation="fadeInUp" data-delay="0">

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-1.jpg"><img
                                                src="assets/images/screenshots/1-krapina-1.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-9.jpg"><img
                                                src="assets/images/screenshots/1-krapina-9.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-2.jpg"><img
                                                src="assets/images/screenshots/1-krapina-2.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-10.jpg"><img
                                                src="assets/images/screenshots/1-krapina-10.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->


                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-3.jpg"><img
                                                src="assets/images/screenshots/1-krapina-3.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-11.jpg"><img
                                                src="assets/images/screenshots/1-krapina-11.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-4.jpg"><img
                                                src="assets/images/screenshots/1-krapina-4.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-12.jpg"><img
                                                src="assets/images/screenshots/1-krapina-12.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-5.jpg"><img
                                                src="assets/images/screenshots/1-krapina-5.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-13.jpg"><img
                                                src="assets/images/screenshots/1-krapina-13.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-6.jpg"><img
                                                src="assets/images/screenshots/1-krapina-6.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-14.jpg"><img
                                                src="assets/images/screenshots/1-krapina-14.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->


                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-7.jpg"><img
                                                src="assets/images/screenshots/1-krapina-7.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-15.jpg"><img
                                                src="assets/images/screenshots/1-krapina-15.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                                <div class="shot">
                                    <div class="screen">
                                        <a class="zoom" href="assets/images/screenshots/krapina-8.jpg"><img
                                                src="assets/images/screenshots/1-krapina-8.jpg" alt="screenshot"></a>
                                    </div> <!-- end screen -->
                                </div> <!-- end shot -->

                            </div> <!-- end screenshots-carousel -->
                        </div> <!-- end col-md-12 -->
                    </div> <!-- end row -->
                    <div class="text-center mt-5r">
                        <div class="title-section text-center  " data-animation="fadeInUp" data-delay="0">
                            <div class="row  " data-animation="fadeInUp" data-delay="0">
                                <div class="col-sm-12" id="medjurijec-title">
                                    <h2>Medjurijec</h2>
                                    <div class="row">
                                        <div class="img-below-text col-sm-4">
                                            <img src="assets/images/icons/time.png" alt="sometext" />
                                            <p>4h</p>
                                        </div>
                                        <div class="img-below-text col-sm-4">
                                            <img src="assets/images/icons/group.png" alt="sometext" />
                                            <p>4+</p>
                                        </div>
                                        <div class="img-below-text col-sm-4">
                                            <img src="assets/images/icons/price.png" alt="sometext" />
                                            <p>100€</p>
                                        </div>
                                    </div>

                                    <hr>
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- end title-section -->
                        <div class="row">
                            <div class="col-sm-12" style="padding-bottom: 20px">
                                Nested in the rugged mountains of Montenegro lies one of the country's best-kept secrets
                                - Medjurijec
                                Canyon. This hidden gem is a must-visit destination for anyone looking for an
                                adventurous and
                                off-the-beaten-path experience. <br><br>
                                Canyoning in Medjurijec Canyon is a true adrenaline rush. With its steep cliffs, rushing
                                waterfalls,
                                and narrow gorges, this canyon is a playground for thrill-seekers. As you make your way
                                through the
                                canyon, you'll rappel down cascading waterfalls, jump into deep pools, and navigate your
                                way through
                                the canyon's twists and turns. <br><br>
                                But canyoning in Medjurijec Canyon is not just about the thrills - it's also an
                                opportunity to connect
                                with nature in a profound way. Surrounded by pristine wilderness, you'll be immersed in
                                the natural
                                beauty of Montenegro at every turn. From the crystal-clear waters of the canyon to the
                                lush forests
                                that surround it, Medjurijec Canyon is a place of breathtaking natural wonder. <br><br>
                                And with expert guides to lead the way, you'll be able to explore the canyon safely and
                                confidently.
                                Whether you're a seasoned canyoning pro or a first-time adventurer, the guides will
                                provide you with
                                the knowledge and equipment you need to have an unforgettable experience. <br><br>
                                But don't just take our word for it - come see for yourself why Medjurijec Canyon is one
                                of
                                Montenegro's hidden treasures. Book your canyoning adventure today and experience the
                                thrill of
                                exploring one of the country's most stunning natural wonders.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="screenshots-carousel  " data-animation="fadeInUp" data-delay="0">

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-1.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-1.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-9.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-9.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-2.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-2.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-10.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-10.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->


                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-3.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-3.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-11.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-11.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-4.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-4.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-12.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-12.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-5.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-5.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-13.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-13.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-6.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-6.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-14.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-14.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->


                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-7.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-7.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-15.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-15.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                    <div class="shot">
                                        <div class="screen">
                                            <a class="zoom" href="assets/images/screenshots/medjurecje-8.jpg"><img
                                                    src="assets/images/screenshots/1-medjurecje-8.jpg"
                                                    alt="screenshot"></a>
                                        </div> <!-- end screen -->
                                    </div> <!-- end shot -->

                                </div> <!-- end screenshots-carousel -->
                            </div> <!-- end col-md-12 -->
                        </div> <!-- end row -->
                        <div class="text-center mt-5r">
                            <div class="title-section text-center  " data-animation="fadeInUp"
                                data-delay="0">
                                <div class="row">
                                    <div class="col-sm-12" id="skurda-title">
                                        <h2>Skurda</h2>
                                        <hr>
                                        <div class="row">
                                            <div class="img-below-text col-sm-4">
                                                <img src="assets/images/icons/time.png" alt="sometext" />
                                                <p>4h</p>
                                            </div>
                                            <div class="img-below-text col-sm-4">
                                                <img src="assets/images/icons/group.png" alt="sometext" />
                                                <p>4+</p>
                                            </div>
                                            <div class="img-below-text col-sm-4">
                                                <img src="assets/images/icons/price.png" alt="sometext" />
                                                <p>80€</p>
                                            </div>
                                        </div>

                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- end title-section -->
                            <div class="row  " data-animation="fadeInUp" data-delay="0">
                                <div class="col-sm-12" style="padding-bottom: 20px">
                                    Discover the natural wonders of Montenegro by exploring the breathtaking Skurda
                                    Canyon in Kotor. Nestled within the old town, this stunning natural wonder is a
                                    must-visit destination for outdoor enthusiasts and nature lovers alike. <br><br>
                                    With its crystal-clear waters, dramatic cliffs, and lush vegetation, Skurda Canyon
                                    is a true marvel of Mother Nature. This breathtaking gorge offers an exciting
                                    canyoning experience that will test your limits and leave you with memories that
                                    will last a lifetime. Canyoning in Skurda Canyon is not for the faint of heart. This
                                    challenging activity involves navigating your way through the canyon's rugged
                                    terrain, including rappelling down waterfalls, jumping into deep pools, and
                                    scrambling over boulders. <br><br>
                                    But for those who are up for the challenge, the rewards
                                    are well worth it. As you make your way through the canyon, you'll be treated to
                                    some of the most stunning views in all of Montenegro. Towering cliffs, crystal-clear
                                    pools, and lush vegetation surround you at every turn, creating an otherworldly
                                    atmosphere that is both exhilarating and awe-inspiring. <br><br>
                                    But canyoning in Skurda Canyon is not just about the scenery. It's also an
                                    opportunity to test your skills and push yourself to new limits. With expert guides
                                    to lead the way, you'll be able to conquer challenges you never thought possible and
                                    experience a sense of accomplishment that few other activities can provide.
                                    Whether you're a seasoned canyoning pro or a first-time adventurer, Skurda Canyon is
                                    a destination that should not be missed. So why not book your trip today and
                                    experience the thrill of canyoning in one of Montenegro's most beautiful natural
                                    wonders?

                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-5r">
                            <div class="title-section text-center  " data-animation="fadeInUp"
                                data-delay="0">
                                <div class="row">
                                    <div class="col-sm-12" id="team-title">
                                        <h2>Team</h2>
                                        <hr>
                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- end title-section -->
                            <div class="row  " data-animation="fadeInUp" data-delay="0">
                                <div class="col-sm-12" id="team-title" style="padding-bottom: 20px">
                                    When it comes to exploring the natural beauty of Montenegro's canyons, you want
                                    guides who are not
                                    only experienced and knowledgeable but also passionate about nature. That's why our
                                    guides at Trend
                                    Adventures are a perfect fit for your canyoning adventure. <br><br>
                                    Our guides are all nature enthusiasts with a long history of guiding canyon tours.
                                    They understand
                                    the
                                    unique geology and ecology of each canyon and can point out the flora and fauna that
                                    make each
                                    location special. Their love for nature is infectious, and they take pride in
                                    sharing their
                                    knowledge
                                    and experiences with others. <br><br>
                                    But our guides' expertise doesn't stop at canyoning. They are also part of the NGO
                                    GSS (Mountain
                                    Rescue Service), which means they are trained in emergency rescue techniques and
                                    first aid.
                                    Additionally, they are climbers in PSD Javorak from Niksic, so they have extensive
                                    experience in
                                    mountaineering and rope work. <br><br>
                                    Not only are our guides knowledgeable and skilled, but they are also friendly and
                                    outgoing. They
                                    love
                                    meeting new people and sharing their passion for the outdoors. They take great care
                                    to ensure that
                                    every member of your group is comfortable and enjoying themselves throughout the
                                    tour.
                                    When you book a canyoning adventure with Trend Adventures, you can trust that you
                                    are in good hands
                                    with our expert guides. They are committed to making your experience unforgettable,
                                    and their love
                                    for
                                    nature is sure to rub off on you.
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="../../assets/images/screenshots/bogdan.png" alt=""
                                                style="border-radius: 50%; width: 200px; margin: 20px; border: 2px solid white">
                                        </div>
                                    </div>
                                    Meet Bogdan - a climber, canyoning guide, and outdoor enthusiast with
                                    over seven years of experience in the industry. Bogdan is a member of PSD Javorak in
                                    Niksic and also works as a guide for canyoning tours. He is also part of the rescue
                                    team at GSS Montenegro.
                                    Bogdan's passion for the outdoors and adventure has led him to explore some of the
                                    most beautiful and challenging landscapes in the world. He's climbed peaks like
                                    Matterhorn and Elbrus, and has also earned PADI diving licenses. <br><br>
                                    As an experienced canyoning guide, Bogdan knows how to navigate even the most
                                    difficult canyons, ensuring that his clients have a safe and thrilling experience.
                                    He's dedicated to providing a top-quality service, and always goes above and beyond
                                    to make sure his clients have a great time.
                                    But what really sets Bogdan apart is his friendly and outgoing personality. He loves
                                    meeting new people and making new friends, and his enthusiasm is infectious. Whether
                                    you're a seasoned adventurer or a first-time canyoning enthusiast, Bogdan's friendly
                                    demeanor and experience make him the perfect guide for your next outdoor adventure.

                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-5r">
                            <div class="title-section text-center  " data-animation="fadeInUp"
                                data-delay="0">
                                <div class="row">
                                    <div class="col-sm-12" id="booking-title">
                                        <h2>Booking</h2>
                                        <hr>
                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- end title-section -->
                            <div class="form-wrapper">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">

                                        <!-- form fields -->
                                        <form name="contactform" id="contactform" class=" "
                                            data-animation="fadeInUp" data-delay="0">

                                            <fieldset>
                                                <div class="form-group col-sm-6">
                                                    <input class="form-control br-b" type="text" name="name" id="name"
                                                        placeholder="Name" required [(ngModel)]='name'
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <input class="form-control br-b" type="text" name="surname"
                                                        id="surname" placeholder="Surname" required
                                                        [(ngModel)]='surname' [ngModelOptions]="{standalone: true}">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <input class="form-control br-b" type="email" name="email"
                                                        id="email" placeholder="Email" required [(ngModel)]='email'
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <input class="form-control br-b" [(ngModel)]="number"
                                                        (ngModelChange)="numberOfGuests(number)" type="number"
                                                        name="number" id="number" min="1" max="90"
                                                        placeholder="Number of guests" required
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <select class="form-control br-b" id="canyon-select"
                                                        name="canyon-select" required [(ngModel)]='canyonSelected'
                                                        [ngModelOptions]="{standalone: true}" [value]="canyonSelected"
                                                        (ngModelChange)="canyonChange(canyonSelected)">
                                                        <option value="Nevidio" selected>Nevidio</option>
                                                        <option value="Drenostica">Drenostica</option>
                                                        <option value="Medjurijec">Medjurijec</option>
                                                        <option value="Skurda">Skurda</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <input class="form-control br-b" type="date" name="date" id="date"
                                                        style="height: 3em" required [(ngModel)]='date'
                                                        [ngModelOptions]="{standalone: true}" [attr.min]="today"
                                                        (ngModelChange)="dateChange()">
                                                </div>
                                                <div #guestsForm>

                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <textarea class="form-control br-b" name="message" id="message"
                                                        placeholder="Additional notes... (optional)"
                                                        [(ngModel)]='additional'
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </div>
                                            </fieldset>

                                            <div class="title-section text-center  "
                                                data-animation="fadeInUp" data-delay="0" *ngIf="price != -1">
                                                <div class="row">
                                                    <div class="col-sm-12" id="booking-title">
                                                        <h2>Price: {{price}}€</h2>
                                                        <span style="color: grey">*The price shown does not include
                                                            lunch</span>
                                                    </div>
                                                </div> <!-- End row -->
                                            </div> <!-- end title-section -->
                                            <!-- submit button -->
                                            <div class="form-group col-sm-12">
                                                <input type="submit" name="submit" value="Book your adventure"
                                                    id="submit" class="btn btn-sm btn-dark" (click)="book()"
                                                    *ngIf="enabled == true">
                                            </div>
                                            <div class="col-md-12 mb-2" *ngIf='message != ""'>
                                                <div class="form-group" style="white-space: pre-line;">
                                                    <span class="pb-2" style="color: red">{{message}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-2" *ngIf='reserved != ""'>
                                                <div class="form-group" style="white-space: pre-line;">
                                                    <span class="pb-2" style="color: green">{{reserved}}</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div> <!-- end col-md-8 -->
                                </div> <!-- end row -->
                            </div> <!-- end form-wrapper -->
                        </div>
                    </div><!--  end container -->
                </div>
            </div>
        </div>
    </section>
    <!-- End screenshots-section -->
    <footer>
        <div id="footer-section" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="footer-social-links">
                            <li><a href="https://www.instagram.com/trendadventures/" target=”_blank”>Instagram</a></li>
                            <li><a href="mailto: adventurestrend@gmail.com">Email</a></li>
                        </ul>
                        <div class="col-sm-12 call">
                            <img src="../../assets/images/icons/phone.png" alt="">
                            <a href="tel:38268220057"> +382 68 220 057 </a>
                        </div>
                        <p class="copyright">
                            &copy; 2023 Trend Adventures <br> Created By <a
                                href="mailto: andrija.rakojevic.8@gmail.com">Andrija Rakojevic</a>
                        </p>
                    </div> <!-- End col-sm-8 -->
                </div> <!-- End row -->
            </div> <!-- End container -->
        </div> <!-- End footer-section  -->
    </footer>
</main>